.tc-hw {
  width: 20rem;
  height: 26rem; /* width * 1.3 */
}

.tc-bdr-width {
  border-width: 1.625rem;
}

.tc-bdr-half-width {
  border-width: 0.8125rem;
}

.tc-bdr-white {
  border-style: solid;
  border-color: #ffffff;
}

.tc-bdr-black {
  border-style: solid;
  border-color: #000000;
}

.tc-icon,
.card img,
.tc-hw img {
  width: 75%;
}

.tc-inner {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

