* {
 box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

a[target="_blank"]:after {
  content: "";
  background: black url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjAwJyBoZWlnaHQ9JzIwMCcgZmlsbD0iI0ZGRkZGRiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEwMCAxMDA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48dGl0bGU+NjEgYWxsPC90aXRsZT48cGF0aCBkPSJNNjkuOCw3Ni4yaC00NnYtNDZoMjd2LTEwaC0zMmwwLDBjLTIuOCwwLTUsMi4yLTUsNXY1NmMwLDIuOCwyLjIsNSw1LDVoNTZsMCwwYzIuOCwwLDUtMi4yLDUtNXYtMzJoLTEwVjc2LjJ6Ii8+PHBvbHlnb24gcG9pbnRzPSI2Mi44LDIzLjkgNjkuMSwyMy45IDQ1LDQ4IDUyLDU1IDc2LjIsMzAuOSA3Ni4yLDM3LjIgODYuMiwzNy4yIDg2LjIsMTMuOSA2Mi44LDEzLjkgIi8+PC9zdmc+");
  width: 1em;
  height: 1em;
  background-size: cover;
  display: inline-block;
  vertical-align: text-top;
  margin-left: .3em;
}
